@import './variables.scss';
@import './normalize.scss';

/*
@media (max-width: $break1) {

}

@media (min-width: $break1 + 1px) and (max-width: $break2) {

}

@media (min-width: $break2 + 1px) {

}
*/

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FONTS */
h1,
h2,
h3,
h4,
h5,
dt {
  font-family: $bold, sans-serif;
  margin-top: 0px;
}

h2 {
  @media (max-width: $break1) {
    font-size: 2.13rem;
  }

  @media (min-width: $break1 + 1px) and (max-width: $break2) {
    font-size: 2.33rem;
  }

  @media (min-width: $break2 + 1px) {
    font-size: 3.33rem;
  }
}

p,
li,
dd,
td,
span {
  font-family: $light, sans-serif;
  letter-spacing: -0.45px;

  @media (max-width: $break1) {
    font-size: 1.2rem;
  }

  @media (min-width: $break1 + 1px) and (max-width: $break2) {
    font-size: 1.33rem;
  }

  @media (min-width: $break2 + 1px) {
    font-size: 1.46rem;
  }
}

button,
th,
a {
  font-family: $medium, sans-serif;

  @media (max-width: $break1) {
    font-size: 1.2rem;
  }

  @media (min-width: $break1 + 1px) and (max-width: $break2) {
    font-size: 1.33rem;
  }

  @media (min-width: $break2 + 1px) {
    font-size: 1.46rem;
  }
}

/* SPACING */
.spacing-top {
  @media (max-width: $break1) {
    margin-top: $spacing-1;
  }

  @media (min-width: $break1 + 1px) and (max-width: $break2) {
    margin-top: $spacing-2;
  }

  @media (min-width: $break2 + 1px) {
    margin-top: $spacing-3;
  }
}

.spacing-btm {
  @media (max-width: $break1) {
    margin-bottom: $spacing-1;
  }

  @media (min-width: $break1 + 1px) and (max-width: $break2) {
    margin-bottom: $spacing-2;
  }

  @media (min-width: $break2 + 1px) {
    margin-bottom: $spacing-3;
  }
}

/* BUTTON */

button {
  outline: none;
}

input[type="submit"] {
  outline: none;
}

/* List */
ul.plain {}

ul.no-disc {
  list-style-type: none;
  padding: 0px;

  & li {
    margin-bottom: 4px;
  }
}