/* DISPLAY BREAKPOINTS */
$break1: 500px;
$break2: 900px;
// Mobile is 0 ~ 500px
// Tablet is 500px ~ 900px
// Laptop is 901px ~ 1920px

/* FONTS */
$bold: "NIXGONB";
$medium: "NIXGONM";
$light: "NIXGONL";