/* UTIL */

// DISPLAY BREAKPOINTS
$break1: 500px;
$break2: 900px;
// Mobile is 0 ~ 500px
// Tablet is 500px ~ 900px
// Laptop is 901px ~ 1920px

// FONTS
$bold: "NIXGONB";
$medium: "NIXGONM";
$light: "NIXGONL";

// SPACING
$spacing-1: 100px;
$spacing-2: 140px;
$spacing-3: 190px;

/* PAGE : INDEX */
// Component : IndexHeader
// $index-header-
$index-header-h1-fontsize-1: 3.33rem;
$index-header-h1-fontsize-2: 4.66rem;
$index-header-h1-fontsize-3: 6.66rem;
$index-header-h1-mb: inherit;
$index-header-h1-lineheight: 1.07;

$index-header-p-fontsize-1 : 1.33rem;
$index-header-p-fontsize-2 : 1.66rem;
$index-header-p-fontsize-3 : 2rem;
$index-header-p-letterspacing: -0.75px;

// Component : Profile
// $profile-
$profile-pic-width-1: 156px;
$profile-pic-width-2: 195px;
$profile-pic-width-3: 305px;
$profile-pic-mb-1: 35px;
$profile-pic-mb-2: 0px;
$profile-pic-mb-3: 70px;
$profile-links-width-1: 26px;
$profile-links-width-2: 32px;
$profile-links-width-3: 50px;