@import '../../../style/util.scss';

section#index-contact {

  @media (min-width: $break2 + 1px) {
    display: inline-block;
    width: calc(50% - 25px);
    padding-right: 25px;
    border-right: 0.5px solid $black;
    margin-right: 25px;
  }

  & .contact-item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    & :last-child {
      margin-bottom: 0px;
    }

    button {
      @media (max-width: $break1) {
        width: 84px;
      }

      @media (min-width: $break1 + 1px) {
        width: 126px;
      }
    }
  }
}