@import '../../../style/util.scss';

#index-hash-myself {
  display: inline-block;
  vertical-align: top;

  @media (min-width: $break2 + 1px) {
    margin-top: $spacing-3 + $profile-pic-width-3 + $profile-pic-mb-3;
    margin-left: $hash-ml;
    width: calc(100% - #{$hash-ml} - #{$profile-pic-width-3});
  }

  & th {
    font-size: 1rem;
    padding: 5px 0px;
    border-top: $hash-line;
    border-bottom: $hash-line;
    text-align: left;
    padding-left: $hash-thtd-paddingleft;

    &:first-child {

      @media (max-width: $break1) {
        width: $hash-1st-width-1;
      }

      @media (min-width: $break1 + 1px) {
        width: $hash-1st-width-2;
      }
    }
  }

  & td {
    padding: 12px $hash-thtd-paddingleft;
    vertical-align: top;
    border-bottom: $hash-line;

    &:first-child {
      @media (max-width: $break1) {
        font-size: $hash-td-fontsize-1;
      }

      @media (min-width: $break1 + 1px) and (max-width: $break2) {
        font-size: $hash-td-fontsize-2;
      }

      @media (min-width: $break2 + 1px) {
        font-size: $hash-td-fontsize-3;
      }
    }

    &:last-child,
    &:last-child dt,
    &:last-child dd {
      letter-spacing: -1px;
    }
  }

  & td dl {
    margin: 0px 0px $hash-dl-mb 0px;

    &:last-child {
      margin: 0px;
    }

    dt {
      margin-bottom: $hash-dt-mb;
      letter-spacing: 0.005px;
      font-weight: normal;
    }

    dd {
      margin-left: 0px;
      word-break: keep-all;
      line-height: 1.13;
      letter-spacing: -1px !important;
    }
  }

  & td ul {
    list-style-type: '- ';
    padding: 0px 0px 0px 1rem;
    margin: 0px;

    & li {
      letter-spacing: 0.2px;
    }
  }
}