@import '../../../style/util.scss';

#index-private {
  display: flex;
  flex-direction: column;

  @media (min-width: $break2 + 1px) {
    display: inline-flex;
    width: calc(50% - 25px);
    vertical-align: top;
  }

  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  button {
    align-self: flex-end;
    margin-top: auto;
  }
}