@import "../../../style/util.scss";

#index-profile {
  display: inline-block;

  @media (max-width: $break1) {
    width: 100%;
  }

  @media (min-width: $break1 + 1px) and (max-width: $break2) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $break2 + 1px) {
    width: $profile-pic-width-3;
  }

  // Child Style  

  img#profile-pic {
    @media (max-width: $break1) {
      width: $profile-pic-width-1;
      height: $profile-pic-width-1;
      margin-bottom: $profile-pic-mb-1;
    }

    @media (min-width: $break1 + 1px) and (max-width: $break2) {
      width: $profile-pic-width-2;
      height: $profile-pic-width-2;
      margin-bottom: $profile-pic-mb-2;
    }

    @media (min-width: $break2 + 1px) {
      width: $profile-pic-width-3;
      height: $profile-pic-width-3;
      margin-bottom: $profile-pic-mb-3;
    }
  }

  h2 {
    margin-top: 0px;
  }

  ul#index-intro-links {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    display: inline-flex;
    flex-direction: row;

    @media (max-width: $break1) {
      float: right;
    }

    @media (min-width: $break1 + 1px) and (max-width: $break2) {
      float: left;
    }

    @media (min-width: $break2 + 1px) {
      float: right;
    }

    & li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0px;
      }

      @media (max-width: $break1) {
        width: $profile-links-width-1;
        height: $profile-links-width-1;
      }

      @media (min-width: $break1 + 1px) and (max-width: $break2) {
        width: $profile-links-width-2;
        height: $profile-links-width-2;
      }

      @media (min-width: $break2 + 1px) {
        width: $profile-links-width-3;
        height: $profile-links-width-3;
      }

      img {
        width: 100%;
      }
    }
  }
}