@import '../../../style/util.scss';

#index-works {
  @media (min-width: $break2 + 1px) {
    margin-top: 10px !important;
  }

  h3 {
    @media (max-width: $break1) {
      font-size: $works-h3-fontsize-1;
    }

    @media (min-width: $break1 + 1px) and (max-width: $break2) {
      font-size: $works-h3-fontsize-2;
    }

    @media (min-width: $break2 + 1px) {
      font-size: $works-h3-fontsize-3;
    }
  }
}

.index-works-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @media (max-width: $break2) {
    margin-bottom: $works-item-spacing-1;
  }

  @media (min-width: $break2 + 1px) {
    margin-bottom: $works-item-spacing-2;
  }
}

.works-img-wrapper {
  @media (max-width: $break1) {
    width: $work-img-width-1;
    height: $work-img-width-1 * $work-img-wh-ratio;
  }

  @media (min-width: $break1 + 1px) and (max-width: $break2) {
    width: $work-img-width-2;
    height: $work-img-width-2 * $work-img-wh-ratio;
  }

  @media (min-width: $break2 + 1px) {
    width: $work-img-width-3;
    height: $work-img-width-3 * $work-img-wh-ratio;
  }

  & img {
    width: 100% !important;
  }
}

.works-texts-wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: $break1) {
    margin-left: $work-internal-spacing-1;
    width: calc(100% - #{$work-internal-spacing-1} - #{$work-img-width-1});
  }

  @media (min-width: $break1 + 1px) and (max-width: $break2) {
    margin-left: $work-internal-spacing-2;
    width: calc(100% - #{$work-internal-spacing-2} - #{$work-img-width-1});
  }

  @media (min-width: $break2 + 1px) {
    margin-left: $work-internal-spacing-3;
    // width: calc(100% - 66px - 233px);
    width: $work-desktop-textwrapper-width;
  }

  ul {
    list-style-type: '- ';
    padding: 0px 0px 0px 1.2rem;
  }

  ul li,
  p {
    white-space: pre-wrap;
    letter-spacing: -0.8px;

    @media (max-width: $break1) {
      font-size: $work-plaintext-fontsize-1;
    }

    @media (min-width: $break1 + 1px) and (max-width: $break2) {
      font-size: $work-plaintext-fontsize-2;
    }

    @media (min-width: $break2 + 1px) {
      font-size: $work-plaintext-fontsize-3;
    }
  }

  button {
    align-self: flex-end;
    margin-top: auto;
  }
}

.work-dangling-wrapper {
  display: none;

  @media (min-width: $break2 + 1px) {
    margin-left: auto;
    display: block;
  }
}