@import '../../../style/util.scss';

#index-header {
  & h1 {

    margin-top: 0px;
    margin-bottom: $index-header-h1-mb;
    line-height: $index-header-h1-lineheight;

    @media (max-width: $break1) {
      font-size: $index-header-h1-fontsize-1;
    }

    @media (min-width: $break1 + 1px) and (max-width: $break2) {
      font-size: $index-header-h1-fontsize-2;
    }

    @media (min-width: $break2 + 1px) {
      font-size: $index-header-h1-fontsize-3;
    }
  }

  & p {
    text-transform: uppercase;
    letter-spacing: $index-header-p-letterspacing;

    @media (max-width: $break1) {
      font-size: $index-header-p-fontsize-1;
    }

    @media (min-width: $break1 + 1px) and (max-width: $break2) {
      font-size: $index-header-p-fontsize-2;
    }

    @media (min-width: $break2 + 1px) {
      font-size: $index-header-p-fontsize-3;
    }
  }
}