@import '../../../style/util.scss';

.btn-white {
  border: solid 0.5px $black;
  background-color: white;

  &:hover {
    background-color: $black;
    color: white;
  }

  @media (max-width: $break1) {
    padding: $btn-padding-1;
    border-radius: $btn-bradius-1;
    -webkit-border-radius: $btn-bradius-1;
    -moz-border-radius: $btn-bradius-1;
    -ms-border-radius: $btn-bradius-1;
    -o-border-radius: $btn-bradius-1;
  }

  @media (min-width: $break1) {
    padding: $btn-padding-2;
    border-radius: $btn-bradius-2;
    -webkit-border-radius: $btn-bradius-2;
    -moz-border-radius: $btn-bradius-2;
    -ms-border-radius: $btn-bradius-2;
    -o-border-radius: $btn-bradius-2;
  }
}