@import '../../style/util.scss';

footer {
  hr {
    border: none;
    height: 1px;
    width: 50%;
    background-color: $black;
  }

  p {
    width: fit-content;
    margin: 35px auto;
  }

  a {
    text-decoration: none;
    color: $black;
    font-family: $light, sans-serif;
    cursor: pointer;
  }
}